.DS_Store
node_modules
coverage
dist
test-results
playwright-report
playwright/.cache/
.turbo

apps/server/.git
apps/server/src/swagger.json
apps/server/src/routes/routes.ts
client/src/locales/.git
client/src/locales/README.md
client/src/locales/docs
client/src/generatedClient

# local env files
.env
.env.local
.env.*.local
*.pem

*.dump
postgres-data

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
